:root {
  --title-font: "Lily Script One", cursive;
  --content-font: "Poppins", sans-serif;
  --main-color: #c9356c;
  --secondary-color: #ff347f;
  --background-color: #ffdde3;
  --content-color: grey;
}

body {
  width: 1000px;
  margin: 100px auto;
}

hr {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  color: var(--secondary-color);
}

.profile-photo {
  width: 250px;
  border-radius: 10px 100px / 120px;
}

.col .photo-grid {
  display: flex;
  justify-content: center;
}

.background {
  background-color: var(--background-color);
  border-radius: 10px;
  margin-bottom: 200px;
}

h1,
h2 {
  color: var(--main-color);
  font-family: var(--title-font);
}

.homepage h1,
.about h1,
.projects h1 {
  font-size: 65px;
  margin-bottom: 30px;
}

.about h2 {
  margin-bottom: 15px;
}

.homepage h3 {
  line-height: 1.5;
  font-family: var(--content-font);
  color: var(--content-color);
}

p,
li {
  font-family: var(--content-font);
  color: var(--content-color);
  font-size: 18px;
}

li {
  list-style-type: square;
}

.homepage p,
.projects p {
  text-align: center;
  margin: 30px auto 0px;
}

.about p,
.about li,
.projects .app-description {
  line-height: 1.5;
  text-align: justify;
  margin-right: 35px;
}

.homepage-imgs {
  display: block;
  max-width: 70%;
  margin: 15px auto 0;
  height: 33vh;
}

.about .certificate-grid {
  margin: 0;
}

.homepage .page-links {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
  color: var(--main-color);
  font-size: 20px;
  font-family: var(--title-font);
  transition: all 2ms ease-out;
}

.homepage .page-links:hover {
  color: var(--content-color);
}

.fa-mail-bulk {
  font-size: 35px;
}

.about .fa-globe-asia,
.about .fa-briefcase,
.about .fa-cogs {
  color: var(--main-color);
  display: block;
  text-align: center;
  font-size: 110px;
}

.contact-link {
  display: block;
  text-align: center;
  transition: all 2ms ease-out;
  color: var(--content-color);
}

.contact-link:hover {
  color: var(--main-color);
}

.btn-branding {
  border: 1px solid var(--secondary-color);
  background: var(--secondary-color);
  color: white;
  font-family: var(--content-font);
  padding: 10px 15px;
  display: block;
  margin: 15px 45px;
  transition: all 2ms ease-out;
}

.btn-branding:hover {
  background: white;
  color: var(--secondary-color);
  background: var(--background-color);
}

.projects .app-btn {
  width: 250px;
}

footer {
  text-align: center;
  color: var(--content-color);
}

.hosting-links {
  text-decoration: none;
  font-weight: 600;
  transition: all 2ms ease-out;
  color: var(--background-color);
}

.hosting-links:hover {
  color: var(--main-color);
}

.projects .api-link {
  transition: all 2ms ease-out;
  color: var(--secondary-color);
  text-decoration: none;
}

.projects .api-link:hover {
  color: var(--content-color);
  text-decoration: underline;
}

@media (max-width: 992px) {
  body {
    width: 700px;
  }
  .profile-photo {
    width: 200px;
  }

  .homepage h1,
  .about h1,
  .projects h1 {
    font-size: 45px;
  }

  .homepage h3 {
    font-size: 20px;
  }

  .about .fa-globe-asia,
  .about .fa-briefcase,
  .about .fa-cogs {
    font-size: 100px;
  }

  .about li {
    text-align: left;
  }

  .about a {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  body {
    width: 550px;
  }
  .homepage h1 {
    text-align: center;
  }

  .homepage h3 {
    font-size: 18px;
    text-align: center;
  }

  .homepage p {
    font-size: 13px;
  }

  .about p,
  .about li {
    font-size: 16px;
    margin: 0;
  }

  .about p {
    text-align: center;
  }

  footer {
    font-size: 13px;
  }

  .about .container {
    padding: 0 40px;
    text-align: center;
  }
}
.about .fa-globe-asia,
.about .fa-briefcase,
.about .fa-cogs {
  font-size: 90px;
}

.about img {
  width: 400px;
  display: block;
  margin: 0 auto 20px;
}
.about a {
  font-size: 12px;
  width: 200px;
  display: block;
  margin: 0 auto 60px;
}

@media (max-width: 576px) {
  body {
    width: 500px;
  }
  .homepage p {
    margin-bottom: 0px;
  }

  .homepage .page-links {
    margin-bottom: 0px;
  }

  .about .container {
    padding: 0 40px;
    text-align: center;
  }

  .about p {
    text-align: center;
    margin: 0;
  }

  .about li {
    margin: 0;
  }
}

@media (max-width: 536px) {
  body {
    width: 400px;
  }

  .fa-mail-bulk {
    font-size: 30px;
  }

  .about h1 {
    font-size: 40px;
  }

  .about h2 {
    font-size: 22px;
  }
  .about p,
  .about li {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .background {
    border-radius: 0px;
  }

  .homepage h1,
  .about h1 {
    font-size: 35px;
  }

  .homepage h3 {
    font-size: 15px;
    text-align: center;
  }

  .homepage p {
    font-size: 10px;
  }

  .fa-mail-bulk {
    font-size: 25px;
  }

  footer {
    font-size: 10px;
  }
}
