:root {
  --title-font: "Lily Script One", cursive;
  --content-font: "Poppins", sans-serif;
  --main-color: #c9356c;
  --secondary-color: #ff347f;
  --background-color: #ffdde3;
  --content-color: grey;
}

body {
  width: 1000px;
  margin: 100px auto;
}

hr {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  color: var(--secondary-color);
}




h1,
h2, h3 {
    color: var(--main-color);
    font-family: var(--title-font);
}

h1 {
    font-size: 65px;
    margin-bottom: 30px;
}

p,
li {
  font-family: var(--content-font);
  color: var(--content-color);
  font-size: 18px;
}

li {
    list-style-type: square;
}

.background {
    background-color: var(--background-color);
    border-radius: 10px;
    margin-bottom: 200px;
}

.fa-mail-bulk, .fa-home {
    font-size: 35px;
}

.fa-envelope-open-text, .fa-linkedin, .contact a {
   color: var(--content-color);
   padding-right: 10px;
   font-size: 20px;
}

.contact-link {
    display: block;
    text-align: center;
    transition: all 2ms ease-out;
    color: var(--content-color);
}

.contact-link:hover {
    color: var(--main-color);
}

.btn-branding {
    border: 1px solid var(--secondary-color);
  background: var(--secondary-color);
  color: white;
  font-family: var(--content-font);
  font-size: 15px;
  padding: 10px 15px;
  display: block;
  margin: 15px 45px;
  transition: all 2ms ease-out;
}

.btn-branding:hover {
  background: white;
  color: var(--secondary-color);
  background: var(--background-color);
}

footer {
  text-align: center;
  color: var(--content-color);
}

.hosting-links {
  text-decoration: none;
  font-weight: 600;
  transition: all 2ms ease-out;
  color: var(--background-color);
}

.hosting-links:hover {
  color: var(--main-color);
}

.homepage .profile-photo {
  width: 250px;
  border-radius: 10px 100px / 120px;
}


.homepage h3 {
    line-height: 1.5;
    font-family: var(--content-font);
    color: var(--content-color);
}


.homepage p,
.projects p, .contact p {
    text-align: center;
    margin: 30px 20px 0px;
}

.homepage-imgs {
  display: block;
  max-width: 70%;
  margin: 15px auto 0;
  height: 33vh;
}

.homepage .page-links {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
  color: var(--main-color);
  font-size: 20px;
  font-family: var(--title-font);
  transition: all 2ms ease-out;
}

.homepage .page-links:hover {
  color: var(--content-color);
}

.about h2 {
  margin-bottom: 15px;
}

.about p,
.about li,
.projects .app-description {
  line-height: 1.5;
  text-align: justify;
  margin-left:0px;
  margin-right: 35px;
}


.about .fa-globe-asia,
.about .fa-briefcase,
.about .fa-cogs {
  color: var(--main-color);
  display: block;
  text-align: center;
  font-size: 110px;
}

.about .certificate-grid {
  margin: 0;
}

.projects-grid {
  padding: 48px;
}


.projects .app-btn {
  width: 250px;
  margin-left:0px;
}


.projects .api-link {
  transition: all 2ms ease-out;
  color: var(--secondary-color);
  text-decoration: none;
}

.projects .api-link:hover {
  color: var(--content-color);
  text-decoration: underline;
}

.contact a {
text-decoration: none;
}

.contact a:hover {
color:var(--secondary-color);
}

.contact .contact-details {
    text-align:center;
}

.contact .get-in-touch {
    color:var(--secondary-color);
    font-weight: bold;
}

@media (max-width: 992px) {
  body {
    width: 700px;
  }
  .profile-photo {
    width: 200px;
  }

 h1 {
    font-size: 45px;
  }

  h3 {
    font-size: 20px;
  }

  h2 {
    font-size: 25px;
  }

  p, li {
    font-size: 16px;
  }
  
  li {
     text-align: left;
   }
  .projects-grid {
    padding: 36px;
  }

  .about .fa-globe-asia,
  .about .fa-briefcase,
  .about .fa-cogs {
    font-size: 100px;
  }

  .projects a, .about a  {
    font-size: 14px;
  }
  
 
}

@media (max-width: 768px) {
  body {
    width: 550px;
  }

  h1 {
    text-align: center;
  }

h2 {
    text-align: center;
    font-size: 27px;
  }

h3 {
    font-size: 18px;
    text-align: center;
  }
  
    footer {
      font-size: 13px;
    }

 p,li {
    font-size: 16px;
  }

  .about p,
  .about li{
    margin: 0;
    text-align: center;
  }

  .about li {
    text-align: left;
  }

  .about .container {
    padding: 0 40px;
    text-align: center;
  }

  .about .fa-globe-asia,
  .about .fa-briefcase,
  .about .fa-cogs {
    font-size: 90px;
  }

  .about img {
    width: 400px;
    display: block;
    margin: 0 auto 20px;
  }

  .about a, .projects .app-btn  {
    font-size: 12px;
    width: 200px;
    display: block;
    margin: 0 auto 60px;
  }

  .projects-grid {
      padding-top: 0px;
      padding-bottom:0px;
  }


.projects .app-description {
    text-align:center;
    margin-right:0px;
}

@media (max-width: 576px) {
  body {
    width: 500px;
  }
  .homepage p, .homepage .page-links  {
    margin-bottom: 0px;
  }


  .about .container {
    padding: 0 40px;
    text-align: center;
  }

  .about p {
    text-align: center;
    margin: 0;
  }

  .about li {
    margin: 0;
  }


}

@media (max-width: 536px) {
  body {
    width: 400px;
  }

  
  h1 {
      font-size: 40px;
    }
    
h2 {
        font-size: 22px;
    }

   p,li, .contact a {
        font-size: 14px;
    }

    .fa-mail-bulk, .fa-home {
      font-size: 25px;
    }
}

@media (max-width: 400px) {
  .background {
    border-radius: 0px;
  }

  h1 {
    font-size: 35px;
  }

  .homepage h3 {
    margin:0 20px;
    text-align: center;
  }


  footer {
    font-size: 10px;
  }
}