:root {
  --title-font: "Lily Script One", cursive;
  --content-font: "Poppins", sans-serif;
  --main-color: #c9356c;
  --secondary-color: #ff347f;
  --background-color: #ffdde3;
  --content-color: grey;
}

body {
  max-width: 1000px;
  margin: 100px auto;
}

hr {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  color: var(--secondary-color);
}

.profile-photo {
  width: 250px;
  border-radius: 10px 100px / 120px;
}

.col .photo-grid {
  display: flex;
  justify-content: center;
}

.container {
  background-color: var(--background-color);
  border-radius: 10px;
  margin-bottom: 200px;
}

.homepage h1 {
  font-size: 65px;
  margin-bottom: 30px;
  color: var(--main-color);
  font-family: var(--title-font);
}

.homepage h3 {
  line-height: 1.5;
  font-family: var(--content-font);
  color: var(--content-color);
}

.homepage p {
  text-align: center;
  margin: 20px auto;
  font-weight: bold;
  font-family: var(--content-font);
  color: var(--content-color);
}

.homepage-imgs {
  display: block;
  max-width: 70%;
  margin: 15px auto 0;
  height: 33vh;
}

.homepage .page-links {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
  color: var(--main-color);
  font-size: 20px;
  font-family: var(--title-font);
  transition: all 2ms ease-out;
}

.homepage .page-links:hover {
  color: var(--content-color);
}

.fa-mail-bulk {
  font-size: 35px;
}

.contact-link {
  display: block;
  text-align: center;
  transition: all 2ms ease-out;
  color: var(--content-color);
}

.contact-link:hover {
  color: var(--main-color);
}

footer {
  text-align: center;
  color: var(--content-color);
}

.hosting-links {
  text-decoration: none;
  font-weight: 600;
  transition: all 2ms ease-out;
  color: var(--background-color);
}

.hosting-links:hover {
  color: var(--main-color);
}

@media (max-width: 992px) {
  .profile-photo {
    width: 200px;
  }

  .homepage h1 {
    font-size: 45px;
  }

  .homepage h3 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .homepage h1 {
    text-align: center;
  }

  .homepage h3 {
    font-size: 18px;
    text-align: center;
  }

  .homepage p {
    font-size: 13px;
  }

  footer {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  body {
    max-width: 500px;
  }
  .homepage p {
    margin-bottom: 0px;
  }

  .homepage .page-links {
    margin-bottom: 0px;
  }
}

@media (max-width: 536px) {
  body {
    max-width: 400px;
  }

  .fa-mail-bulk {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .container {
    border-radius: 0px;
  }

  .homepage h1 {
    font-size: 35px;
  }

  .homepage h3 {
    font-size: 15px;
    text-align: center;
  }

  .homepage p {
    font-size: 10px;
  }

  .fa-mail-bulk {
    font-size: 25px;
  }

  footer {
    font-size: 10px;
  }
}
